<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073527335820-df9v95ci4b721ikf8ullgldckovin2k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073527335820-df9v95ci4b721ikf8ullgldckovin2k1</string>
	<key>API_KEY</key>
	<string>AIzaSyCKdSOb8dmm9XQObp2Tf4QY4ettjP9wVtA</string>
	<key>GCM_SENDER_ID</key>
	<string>1073527335820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaehoon.SeSAC2FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesac2-165b3</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac2-165b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073527335820:ios:cffede7429c2a75c2d44a9</string>
</dict>
</plist>